@import url("https://use.typekit.net/sut2jyp.css");

body{
  background-color: #F2EAEA;    
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

@media only screen and (max-width:1050px){
  .lax{
    display: none;
  }
}

.redBall{
  position: absolute;
  left: 200px;
  margin-top: 10px;
  width: 50px;
}

.blueBall{
  width: 150px;
  position: absolute;
  left: 50px;
  z-index: -100;
  margin-top: 650px;
}

.yellowBall{
  width: 100px;
  position: absolute;
  right: 50px;
  margin-top: 300px;
  z-index: -100;
}

.solid{
  visibility: visible;
  transition: .3s ease;
  animation: fadein .3s ease-in;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media only screen and (max-width:800px){
  .solid{
    display: none;
  }
}

nav{
  visibility: hidden;
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #EEE7E7;
  padding: 15px;
  border-bottom: 3px solid #151E38;

  a{
    font-size: 18px;
    text-decoration: none;
    color: #151E38;
    font-weight: 600;
    padding: 0 10px;
  }

  a:nth-child(6){
    margin-right: 20px;
  }

  div:nth-child(2){
    margin-left: auto;
  }
}

#video {
  width: 100%;
  padding: 0;
}

.descriptionWrapper{
  padding: 0 20%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

@media only screen and (max-width: 768px){
  .descriptionWrapper{
    margin-top: 0px;
    padding: 0 10%;
  }
}

#hero{
  background-size: 100%;
  background-repeat: no-repeat;
}

.heroGif{
  width: 100%;
}

h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.highlightRed{
  color:#E03151;
}

.highlightYellow{
  color: #FBA91A;
  text-decoration: none;
  
}

//.highlightYellow:hover{
//  text-decoration: underline;
//}

br {
  font-size: 10px;
}

.h1Container {
  width: 100vw;
  display: flex;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .02em;
  font-size: 48px;
  margin: auto;
  color:#1F213A;
  padding-bottom: 30px;
}

.calendar {
   display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // width: 800px;
    margin: auto;
}

@media only screen and (max-width: 800px) {
  .calendar {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
  }
}

.calColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.calSlot {
  height: 80px;
}


.calDay {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  color:#1F213A;
  margin: auto;
  display: inline-block;
  color: #FBA91A;
  margin-top: -10px;
}

.calDayText {
  margin: auto;
  display: inline-block;
  padding-left: 40px;
  font-size: 18px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.calTime {
 display: inline-block;
 margin-right: 3vw;
 margin-top: 10px;
 font-size: 16px;
 font-family: futura-pt, sans-serif;
 font-weight: 500;
 font-style: normal;
}

.calDesc {
  display: inline-block;
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.calLocation {
  font-size: 16px;
  color:#1F213A;
}

.calBreakBig{
  font-size: 40px;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.calYellow{
  color: #FBA91A;
}



.calBlue {
  color: #5668AF;
}

.BG {
  width: 150px;
  position: absolute;
  z-index: -20;
}

.rightSVG {
  right: 0;
}

.calendarWrapper {
  padding-bottom: 0px;
}

.calendarWrapper, .aboutWrapper, .speakersWrapper {
  margin: auto;
}

.calendarWrapper {
  margin-top: 100px;
  h1 {
    text-align: center;
  }
}

.aboutWrapper {
  text-align: center;
  max-width: 700px;
  padding-top: 200px;

  @media only screen and (max-width:800px){
    width: 90%;
  }
}

p {
  display: inline-block;
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.SpaceDiv {
  height: 110vw;
}

.aboutDesc {
  max-width: 600px;
}

.smallSpaceDiv {
  height: 10vw;
}

.attendeesBG {
  background-color: #5668AF;
  width: 100%;
  margin-top: 10vw;
}

.attendeesWrapper {
  // height: 100vw;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.attendeesSVG {
  width: 101%;
  z-index: -20;
  position: absolute;
}

#attendees {
  max-width: 100vw;
  display: grid;
}

.attendeesSVGbottom {
  width: 101%;
  z-index: -20;
}

.speakersWrapper {

  margin: auto;
  margin-top: 100px;
  text-align: center;
}


.teamBG {
  background-color: #FBA91A;
  width: 100%;
  margin-top: 10vw;
}

.teamWrapper {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 100vw;
}

.teamSVG {
  width: 101%;
  z-index: -20;
  position: absolute;
}

#team {
  max-width: 100vw;
  display: grid;
}

.teamSVGbottom {
  width: 101%;
  z-index: -20;
}

.locationWrapper {
  // height: 60vw;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.headerSVG {
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  margin-top: -15px;
}

.aboutHeader {
  width: 30%;
}

.textWhite {
  color: #EEE7E7;;
}

.attendeesHeader {
  width: 27%;
}

@media only screen and (max-width: 1050px){
  .BG {
    display: none;
  }
}

.attendeesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 900px;
  margin: auto;
  @media only screen and (max-width:1000px){
    max-width: 800px;
  }
  @media only screen and (max-width:800px){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    max-width: 600px;
  }
  @media only screen and (max-width:800px){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    max-width: 600px;
  }
  @media only screen and (max-width:600px){
    max-width: 80%;
  }


  div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
    max-width: 100%;
    padding: 20px;

  }

  a {
    opacity: .7;
    transition: .2s ease;
    text-decoration: none;
    @media only screen and (max-width:600px){
      width: 20vw;
      height: 150px;
    }
  }

  a:hover{
    opacity: 1;
    p {
      opacity: .7;
      @media only screen and (max-width:800px){
      opacity: 0;
      }
    }
  }

  p {
    opacity: 0;
    margin-top: -37px;
    display: block;
    transition: .2s ease;
    color: #1F213A;
  }

}

.rowAfter {
  margin-top: -40px;
}

@media only screen and (max-width:800px){
  .attendeesGrid{
    img{
      padding: 5px;
    }
  }
  .rowAfter {
    margin-top: -10px;
  }
}

.speakersHeader {
  width: 44%;
}

.teamGridMOME {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 900px;
  @media only screen and (max-width: 950px){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 600px;
  }
  @media only screen and (max-width: 700px){
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-right: 0;
  }

  margin: auto;
}

.teamRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamPerson {
  padding: 15px;
  @media only screen and (max-width: 950px){
    padding: 2px !important;
  }
  text-decoration: none;
  display: block;
  img {
    width: 160px;
    @media only screen and (max-width: 950px){
      width: 100px !important;
    }

  }
  h4 {
    font-family: futura-pt, sans-serif;
    font-size: 24px;
    @media only screen and (max-width: 950px){
      font-size: 20px;
      padding-left: 10px;
    }
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #5668AF;
  }

  p {
    @media only screen and (max-width: 950px){
      font-size: 16px;
      padding-left: 10px;
    }
    text-align: left;
    margin-top: 0px;
    display: block;
    color: #1F213A;
  }
}

.bigName {
  margin-top: 35px;
}

.teamHeader {
  width: 23%;
}

.teamGridBranding {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 900px;
  @media only screen and (max-width: 950px){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 600px;
  }
  @media only screen and (max-width: 700px){
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-right: 0;
  }

  margin: auto;
}

#map {
  max-width: 600px;
  height: 400px;
  background-color: grey;
  margin: auto;
  margin-bottom: 60px;
  @media only screen and (max-width: 700px){
      max-width: 80%;
  }
}

.locationHeader {
  width: 45%;
}

.addressWrapper {
  display: inline-flex;
  padding-bottom: 30px;
  line-height: 2em;
  :hover {
    font-style: italic;
  }
}

.addressMOA, .addressArnold {
  color: #ED284F;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
}

.addressMOA {
  padding-right: 30px;
}

.addressArnold {
  padding-left: 30px;
}

.boldText {
  font-weight: 600;
}

.badKerning {
  font-size: 5px !important;
}