body{
  background-color: white;
}

#video {
  width: 100%;
  padding: 0;
}

.descriptionWrapper{
  padding: 0 25%;
  margin-top: 45px;
}

#hero{
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heroGif{
  width: 100%;
}